.container {
  padding: 20px;
}

/* input {
  display: block;
  margin: 10px 0;
  padding: 10px;
  width: 300px;
} */

button {
  margin: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

h3 {
  margin-bottom: 10px;
}

p {
  margin: 5px 0;
}

video {
  display: block;
  margin: 10px 0;
  border: 2px solid #000;
}
