/* .button {
  margin-bottom: 18px;
  margin-left: 15px;
}

.custom-invalid {
  border: 1px solid red !important;
  border-radius: 5px;
} */
/* Hide outer scroll */
html,
body {
  overflow: hidden;
  height: 100%;
  margin: 0;
  padding: 0;
}

/* Your existing styles */
.button {
  margin-bottom: 18px;
  margin-left: 15px;
}

.custom-invalid {
  border: 1px solid red !important;
  border-radius: 5px;
}
